html {
    font-size: 10px;
}

body {
    margin: 5rem 0;
    background-color: #ddd;
}

.mapcontainer {
    max-width: 100rem;
    margin: auto;
}

.mapcontainer > canvas {
    width: 100%;
    image-rendering: pixelated;
}