*{
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    font-size: 0.625em;
}

body {
    overflow: hidden;
    margin: 0;
    background-color: #000;
}

main {
    margin: 0 auto;
}

.mapcontainer {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    scrollbar-width: none;/*Firefox fix*/
}

.mapcontainer::-webkit-scrollbar {
    display: none;
}

.mapcontainer > canvas {
    min-width: 270%;
    image-rendering: pixelated;
}

@media (min-width: 756px) {
    .mapcontainer > canvas {
        min-width: 150%;
    }
}

@media (min-width: 992px) {
    .mapcontainer > canvas {
        min-width: 0;
    }
}
#colorcontainer {
    bottom:0;
    left:50%;
    width:500px;
    margin-left:-250px;
    margin-bottom: 2rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#statuscontainer{
    width:100px;
    margin-left:-50px;
    top:0;
    left:50%;
    margin-top:2rem;
    display:flex;
    justify-content: center;
}
#controlcontainer{
    margin-right:2rem;
    margin-top:2rem;
    top:0;
    right:0;
    display: flex;
    flex-direction: column;
}
#controlcontainer button{
    width:28px;
    height: 28px;
}
#range_zoom{
    width: 28px;
}
#infocontainer{
    margin-left:2rem;
    margin-top:2rem;
    top:0;
    left:0;
}
input[type="color"]{
    width:28px;
    height:28px;
}
#colorcontainer .select>div{
    width: 28px;
    height: 28px;
    background-color:black;
    border: 2px solid #efefef;
}
#colorcontainer .select>div.selected{
    border-color:#257AFD;
}
#colorcontainer .edit{
    display:flex;
    width: 450px;
    justify-content: space-between;
}
#colorcontainer .select{
    display:flex;
    width: 450px;
    justify-content: space-between;
}
.hidden{
    display:none!important;
}
#editcolorbutton{
    width: 28px;
    height: 28px;
    cursor:pointer;
}
/*Compatibility for vertical range input*/
input[type="range"][orient="vertical"] {
    writing-mode: bt-lr;
    appearance: slider-vertical;
  }

.overlaybox{
    border-radius: 4px;
    padding:5px;
    position: fixed;
    background-color: rgba(255, 255, 255, .7);
    /* backdrop-filter: blur(15px) brightness(166%); */
    border: 2px solid #d7d7d7;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .overlaybox {
        background-color: transparent;
        -webkit-backdrop-filter: blur(15px) brightness(166%);
        backdrop-filter: blur(15px) brightness(166%);
      }
}
.icon{
    width:28px;
    height:28px;
}
#statuscontainer .cooldown{
    line-height: 1rem;
}
@media only screen and (max-width: 512px) {
    #colorcontainer{
        bottom:0;
        left:0;
        margin:0px;
        border-radius:0px;
        width:100%;
    }
    #controlcontainer{
        margin:1rem;
    }
}
/*Hide 3 colors if not enough space*/
@media only screen and (max-width: 320px) {    
    #colorcontainer>div>:nth-child(9),
    #colorcontainer>div>:nth-child(8),
    #colorcontainer>div>:nth-child(7){
        display:none;
    }
}
a:link, a:visited{
    color:black;
    text-decoration: none;
}
html,body{
    touch-action:none;
}
/* canvas{
    touch-action:pan-x pan-y;
} */