html {
    font-family: sans-serif;
    font-size: 10px;
}

body {
    background-color: #ddd;
}

main {
    margin: 0 auto;
}

.mapcontainer {
    aspect-ratio: 1;
}

.mapcontainer::-webkit-scrollbar {
    display: none;
}

.mapcontainer > canvas {
    image-rendering: pixelated;
}

.uicontainer {
}